.pagination {
	margin: 3rem 0;	

	&__link {
		padding: 0.625rem 1rem;
		line-height: $line-height-xs;
		display: block;

		&_active {
			color: $white;
			background-color: $light-black;
		}

		&:hover {
			text-decoration: underline;
		}
	}	
}
